
.Frame8_Frame8 {
	position: relative;
	left: 0px;
	top: 0px;
	margin: auto;
	width: 100%;
	height: 100vh;
	overflow: auto;
}
.Frame8_Frame8 .Frame5 {
	position: absolute;
	left: 1285.9399999999998px;
	top: 40.67999999999999px;
	width: 153.67999999999998px;
	height: 152.54999999999998px;
	border-radius: 1130px;
}
.Frame8_Frame8 .Frame5 .Component1 {
	position: relative;
	flex: none;
	margin-right: 11.299999999999999px;
	width: 69.9513037109375px;
	height: 116.27047546386717px;
}
.Frame8_Frame8 .Frame5 .Component1 .Screenshot20220621at5171 {
	width: 67.56757822667791%;
	height: 10.569106173319911%;
}
.Frame8_Frame8 .Frame4 {
	position: absolute;
	left: 1125.4799999999998px;
	top: 19.11764953613281px;
	width: 196.61999999999998px;
	height: 195.67470092773436px;
	border-radius: 1130px;
}
.Frame8_Frame8 .Frame4 .Component1_1 {
	position: relative;
	flex: none;
	margin-right: 11.299999999999999px;
	width: 115.32524536132811px;
	height: 116.27047546386717px;
}
.Frame8_Frame8 .Frame4 .Component1_1 .Screenshot_20220621_at_5041 {
	width: 100%;
	height: 100%;
}
.Frame8_Frame8 .Frame3 {
	position: absolute;
	left: 965.0199999999999px;
	top: 19.11764953613281px;
	width: 196.61999999999998px;
	height: 195.67470092773436px;
	border-radius: 1130px;
}
.Frame8_Frame8 .Frame3 .Component1_2 {
	position: relative;
	flex: none;
	margin-right: 11.299999999999999px;
	width: 115.32524536132811px;
	height: 116.27047546386717px;
}
.Frame8_Frame8 .Frame3 .Component1_2 .image4 {
	width: 87.499895342064%;
	height: 100%;
}
.Frame8_Frame8 .Frame12 {
	position: absolute;
	left: 0px;
	top: 19.11764953613281px;
	width: 641.8399999999999px;
	height: 195.67470092773436px;
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.Frame8_Frame8 .Frame12 .Frame6 {
	position: relative;
	flex: none;
	margin-right: -36.16px;
	width: 160.45999999999998px;
	height: 159.32999999999998px;
	border-radius: 1130px;
}
.Frame8_Frame8 .Frame12 .Frame6 .Component1_3 {
	position: relative;
	flex: none;
	margin-right: 11.299999999999999px;
	width: 69.95133819580077px;
	height: 116.27047546386717px;
}
.Frame8_Frame8 .Frame12 .Frame6 .Component1_3 .Screenshot20220621at5171_1 {
	width: 67.5675942153303%;
	height: 10.569106173319911%;
}
.Frame8_Frame8 .Frame12 .Frame7 {
	position: relative;
	flex: none;
	margin-right: -36.16px;
	width: 196.61999999999998px;
	height: 195.67470092773436px;
	border-radius: 1130px;
}
.Frame8_Frame8 .Frame12 .Frame7 .Component1_4 {
	position: relative;
	flex: none;
	margin-right: 11.299999999999999px;
	width: 115.32521087646484px;
	height: 116.27047546386717px;
}
.Frame8_Frame8 .Frame12 .Frame7 .Component1_4 .image6 {
	width: 97.92382514703696%;
	height: 100%;
}
.Frame8_Frame8 .Frame12 .Frame8_1 {
	position: relative;
	flex: none;
	margin-right: -36.16px;
	width: 196.61999999999998px;
	height: 195.67470092773436px;
	border-radius: 1130px;
}
.Frame8_Frame8 .Frame12 .Frame8_1 .Component1_5 {
	position: relative;
	flex: none;
	margin-right: 11.299999999999999px;
	width: 115.32517639160154px;
	height: 116.27047546386717px;
}
.Frame8_Frame8 .Frame12 .Frame8_1 .Component1_5 .image5 {
	width: 82.30089712836394%;
	height: 100%;
}
.Frame8_Frame8 .Frame12 .Frame9 {
	position: relative;
	flex: none;
	margin-right: -36.16px;
	width: 196.61999999999998px;
	height: 195.67470092773436px;
	border-radius: 1130px;
}
.Frame8_Frame8 .Frame12 .Frame9 .Component1_6 {
	position: relative;
	flex: none;
	margin-right: 11.299999999999999px;
	width: 115.32517639160154px;
	height: 116.27047546386717px;
}
.Frame8_Frame8 .Frame12 .Frame9 .Component1_6 .image3 {
	width: 100%;
	height: 100%;
}
.Frame8_Frame8 .Frame2 {
	position: absolute;
	left: 804.56px;
	top: 19.11764953613281px;
	width: 196.61999999999998px;
	height: 195.67470092773436px;
	border-radius: 1130px;
}
.Frame8_Frame8 .Frame2 .Component1_7 {
	position: relative;
	flex: none;
	margin-right: 11.299999999999999px;
	width: 115.32524536132811px;
	height: 116.27047546386717px;
}
.Frame8_Frame8 .Frame2 .Component1_7 .image2 {
	width: 100%;
	height: 87.7192776923264%;
}