
.Property1Nodejs_Property1Nodejs {
	width: 100px;
	height: 100px;
}
.Property1Nodejs_Property1Nodejs .image4 {
	position: absolute;
	left: 6px;
	top: 0px;
	width: 87.5%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}