
.Property1gql_Property1gql {
	width: 100px;
	height: 100px;
}
.Property1gql_Property1gql .image3 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}