
.Property1Variant8_Property1Variant8 {
	width: 74px;
	height: 74px;
	display: flex;
	flex-direction: column;
	padding-top: 16px;
	padding-right: 12px;
	padding-bottom: 16px;
	padding-left: 12px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	background: rgba(255,255,255,1.00);
}
.Property1Variant8_Property1Variant8 .Screenshot20220621at5171 {
	position: relative;
	flex: none;
	margin-bottom: 10px;
	width: 67.56756756756756%;
	height: 17.56756756756757%;
	object-fit: cover;
	overflow: hidden;
}