
.Property1Postgres_Property1Postgres {
	width: 99px;
	height: 100px;
}
.Property1Postgres_Property1Postgres .image6 {
	position: absolute;
	left: 1px;
	top: 0px;
	width: 97.92381826073232%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}