
.Property1Prisma_Property1Prisma {
	width: 100px;
	height: 100px;
}
.Property1Prisma_Property1Prisma .image5 {
	position: absolute;
	left: 9px;
	top: 0px;
	width: 82.3009033203125%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
}